html {
  box-sizing: border-box;
}

h1 {
  background-color: #d05c2e;
  color: #fff;
  text-align: center;
  font-size: 2rem;
}

.grain-l {
  float: left;
}

.grain-r {
  float: right;
}
*, *::before, *::after {
  box-sizing: inherit;
}
